<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Remi Prevost</title>

        <%if (PRODUCTION) { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BR2HM4V1RR"></script>
        <script src="./ga.bundle.js"></script>
        <% } %>
        <script src="app.bundle.js"></script>
    </head>
    <body>
        <div id="root" style="height: 0; overflow: hidden">
            <div class="banner dark-mode">
                <div class="card">
                    <div class="profile-image-container">
                        <img alt="Profile picture of Remi Prevost" class="profile-image" src="image_white.png">
                    </div>
                    <div class="text-container">
                        <h1 class="text">
                            REMI PREVOST
                            <div class="box">
                                <div class="white"></div>
                                <div class="black"></div>
                            </div>
                        </h1>
                        <h2 class="text engineer">
                            software engineer
                            <div class="box">
                                <div class="white"></div>
                                <div class="black"></div>
                            </div>
                        </h2>
                        <div class="separator"></div>
                        <h2 class="text">
                            Lead developer at <a target="_blank" href="https://happydemics.com">Happydemics</a>
                            <div class="box">
                                <div class="white"></div>
                                <div class="black"></div>
                            </div>
                        </h2>
                        <div class="social-networks">
                            <a target="_blank" href="https://www.linkedin.com/in/remi-prevost/" >
                                <img alt="Linkedin link" src="linkedin_black.svg"/>
                            </a>
                            <a target="_blank" href="https://github.com/RemiPrevost">
                                <img alt="Github link" src="github_black.svg"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner light-mode">
                <div class="card">
                    <div class="profile-image-container visible">
                        <img alt="Profile picture of Remi Prevost" class="profile-image" src="image_black.png">
                    </div>
                    <div class="text-container visible">
                        <h1 class="text">REMI PREVOST</h1>
                        <h2 class="text engineer">
                            <div class="cherry">
                                Enthusiast
                                <div class="black-box"></div>
                            </div>
                            <div class="space"></div>
                            software engineer
                        </h2>
                        <div class="separator visible"></div>
                        <h2 class="text">
                            Lead developer at <a target="_blank" href="https://happydemics.com">Happydemics</a>
                        </h2>
                        <div class="social-networks">
                            <a target="_blank" href="https://www.linkedin.com/in/remi-prevost/" >
                                <img alt="Linkedin link" src="linkedin_black.svg"/>
                            </a>
                            <a target="_blank" href="https://github.com/RemiPrevost">
                                <img alt="Github link" src="github_black.svg"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
